.dark-theme {
  background-color: #2d62d6;
}

.light-theme {
  background-color: #477cf0;
}

.dark-theme {
  background-color: #2857be;
}

.light-theme {
  background-color: #5b8af1;
}

.dark-theme {
  background-color: #234ca7;
}

.light-theme {
  background-color: #7099f3;
}

.dark-theme {
  background-color: #1e418f;
}

.light-theme {
  background-color: #84a7f5;
}

.dark-theme {
  background-color: #193777;
}

.light-theme {
  background-color: #99b6f7;
}

.dark-theme {
  background-color: #142c5f;
}

.light-theme {
  background-color: #adc5f8;
}

.dark-theme {
  background-color: #0f2147;
}

.light-theme {
  background-color: #c2d3fa;
}

.dark-theme {
  background-color: #0a1630;
}

.light-theme {
  background-color: #d6e2fc;
}

.dark-theme {
  background-color: #050b18;
}

.light-theme {
  background-color: #ebf0fd;
}

.dark-theme {
  background-color: #17b479;
}

.light-theme {
  background-color: #31ce92;
}

.dark-theme {
  background-color: #15a06b;
}

.light-theme {
  background-color: #48d39e;
}

.dark-theme {
  background-color: #128c5e;
}

.light-theme {
  background-color: #5fd9aa;
}

.dark-theme {
  background-color: #107850;
}

.light-theme {
  background-color: #76deb6;
}

.dark-theme {
  background-color: #0d6443;
}

.light-theme {
  background-color: #8de4c3;
}

.dark-theme {
  background-color: #0a5036;
}

.light-theme {
  background-color: #a3e9cf;
}

.dark-theme {
  background-color: #083c28;
}

.light-theme {
  background-color: #baefdb;
}

.dark-theme {
  background-color: #05281b;
}

.light-theme {
  background-color: #d1f4e7;
}

.dark-theme {
  background-color: #03140d;
}

.light-theme {
  background-color: #e8faf3;
}

.dark-theme {
  background-color: #be234a;
}

.light-theme {
  background-color: #d73d63;
}

.dark-theme {
  background-color: #a91f42;
}

.light-theme {
  background-color: #dc5275;
}

.dark-theme {
  background-color: #941b39;
}

.light-theme {
  background-color: #e06886;
}

.dark-theme {
  background-color: #7f1731;
}

.light-theme {
  background-color: #e57d97;
}

.dark-theme {
  background-color: #6a1429;
}

.light-theme {
  background-color: #e993a9;
}

.dark-theme {
  background-color: #541021;
}

.light-theme {
  background-color: #eda9ba;
}

.dark-theme {
  background-color: #3f0c19;
}

.light-theme {
  background-color: #f2becb;
}

.dark-theme {
  background-color: #2a0810;
}

.light-theme {
  background-color: #f6d4dc;
}

.dark-theme {
  background-color: #150408;
}

.light-theme {
  background-color: #fbe9ee;
}

.dark-theme {
  background-color: #ddb019;
}

.light-theme {
  background-color: #f7c933;
}

.dark-theme {
  background-color: #c59c16;
}

.light-theme {
  background-color: #f8cf49;
}

.dark-theme {
  background-color: #ac8914;
}

.light-theme {
  background-color: #f9d560;
}

.dark-theme {
  background-color: #947511;
}

.light-theme {
  background-color: #fadb77;
}

.dark-theme {
  background-color: #7b620e;
}

.light-theme {
  background-color: #fbe18e;
}

.dark-theme {
  background-color: #624e0b;
}

.light-theme {
  background-color: #fbe7a4;
}

.dark-theme {
  background-color: #4a3b08;
}

.light-theme {
  background-color: #fcedbb;
}

.dark-theme {
  background-color: #312706;
}

.light-theme {
  background-color: #fdf3d2;
}

.dark-theme {
  background-color: #191403;
}

.light-theme {
  background-color: #fef9e8;
}

.dark-theme {
  background-color: #1717cf;
}

.light-theme {
  background-color: #3030e9;
}

.dark-theme {
  background-color: #1414b8;
}

.light-theme {
  background-color: #4747eb;
}

.dark-theme {
  background-color: #1212a1;
}

.light-theme {
  background-color: #5e5eee;
}

.dark-theme {
  background-color: #0f0f8a;
}

.light-theme {
  background-color: #7575f0;
}

.dark-theme {
  background-color: #0d0d73;
}

.light-theme {
  background-color: #8c8cf3;
}

.dark-theme {
  background-color: #0a0a5c;
}

.light-theme {
  background-color: #a3a3f5;
}

.dark-theme {
  background-color: #080845;
}

.light-theme {
  background-color: #babaf8;
}

.dark-theme {
  background-color: #05052e;
}

.light-theme {
  background-color: #d1d1fa;
}

.dark-theme {
  background-color: #030317;
}

.light-theme {
  background-color: #e8e8fd;
}

.dark-theme {
  background-color: #cf1717;
}

.light-theme {
  background-color: #e93030;
}

.dark-theme {
  background-color: #b81414;
}

.light-theme {
  background-color: #eb4747;
}

.dark-theme {
  background-color: #a11212;
}

.light-theme {
  background-color: #ee5e5e;
}

.dark-theme {
  background-color: #8a0f0f;
}

.light-theme {
  background-color: #f07575;
}

.dark-theme {
  background-color: #730d0d;
}

.light-theme {
  background-color: #f38c8c;
}

.dark-theme {
  background-color: #5c0a0a;
}

.light-theme {
  background-color: #f5a3a3;
}

.dark-theme {
  background-color: #450808;
}

.light-theme {
  background-color: #f8baba;
}

.dark-theme {
  background-color: #2e0505;
}

.light-theme {
  background-color: #fad1d1;
}

.dark-theme {
  background-color: #170303;
}

.light-theme {
  background-color: #fde8e8;
}

.dark-theme {
  background-color: #cfcf17;
}

.light-theme {
  background-color: #e9e930;
}

.dark-theme {
  background-color: #b8b814;
}

.light-theme {
  background-color: #ebeb47;
}

.dark-theme {
  background-color: #a1a112;
}

.light-theme {
  background-color: #eeee5e;
}

.dark-theme {
  background-color: #8a8a0f;
}

.light-theme {
  background-color: #f0f075;
}

.dark-theme {
  background-color: #73730d;
}

.light-theme {
  background-color: #f3f38c;
}

.dark-theme {
  background-color: #5c5c0a;
}

.light-theme {
  background-color: #f5f5a3;
}

.dark-theme {
  background-color: #454508;
}

.light-theme {
  background-color: #f8f8ba;
}

.dark-theme {
  background-color: #2e2e05;
}

.light-theme {
  background-color: #fafad1;
}

.dark-theme {
  background-color: #171703;
}

.light-theme {
  background-color: #fdfde8;
}

.dark-theme {
  background-color: #17cf30;
}

.light-theme {
  background-color: #30e949;
}

.dark-theme {
  background-color: #14b82a;
}

.light-theme {
  background-color: #47eb5d;
}

.dark-theme {
  background-color: #12a125;
}

.light-theme {
  background-color: #5eee72;
}

.dark-theme {
  background-color: #0f8a20;
}

.light-theme {
  background-color: #75f086;
}

.dark-theme {
  background-color: #0d731b;
}

.light-theme {
  background-color: #8cf39a;
}

.dark-theme {
  background-color: #0a5c15;
}

.light-theme {
  background-color: #a3f5ae;
}

.dark-theme {
  background-color: #084510;
}

.light-theme {
  background-color: #baf8c2;
}

.dark-theme {
  background-color: #052e0b;
}

.light-theme {
  background-color: #d1fad7;
}

.dark-theme {
  background-color: #031705;
}

.light-theme {
  background-color: #e8fdeb;
}

.dark-theme {
  background-color: #e69500;
}

.light-theme {
  background-color: #ffaf1a;
}

.dark-theme {
  background-color: #cc8500;
}

.light-theme {
  background-color: #ffb833;
}

.dark-theme {
  background-color: #b37400;
}

.light-theme {
  background-color: #ffc14d;
}

.dark-theme {
  background-color: #996400;
}

.light-theme {
  background-color: #ffca66;
}

.dark-theme {
  background-color: #805300;
}

.light-theme {
  background-color: #ffd380;
}

.dark-theme {
  background-color: #664200;
}

.light-theme {
  background-color: #ffdb99;
}

.dark-theme {
  background-color: #4d3200;
}

.light-theme {
  background-color: #ffe4b3;
}

.dark-theme {
  background-color: #332100;
}

.light-theme {
  background-color: #ffedcc;
}

.dark-theme {
  background-color: #1a1100;
}

.light-theme {
  background-color: #fff6e6;
}

.dark-theme {
  background-color: #8a00e6;
}

.light-theme {
  background-color: #a31aff;
}

.dark-theme {
  background-color: #7a00cc;
}

.light-theme {
  background-color: #ad33ff;
}

.dark-theme {
  background-color: #6b00b3;
}

.light-theme {
  background-color: #b84dff;
}

.dark-theme {
  background-color: #5c0099;
}

.light-theme {
  background-color: #c266ff;
}

.dark-theme {
  background-color: #4d0080;
}

.light-theme {
  background-color: #cc80ff;
}

.dark-theme {
  background-color: #3d0066;
}

.light-theme {
  background-color: #d699ff;
}

.dark-theme {
  background-color: #2e004d;
}

.light-theme {
  background-color: #e0b3ff;
}

.dark-theme {
  background-color: #1f0033;
}

.light-theme {
  background-color: #ebccff;
}

.dark-theme {
  background-color: #0f001a;
}

.light-theme {
  background-color: #f5e6ff;
}

.dark-theme {
  background-color: #737373;
}

.light-theme {
  background-color: #8d8d8d;
}

.dark-theme {
  background-color: #666666;
}

.light-theme {
  background-color: #999999;
}

.dark-theme {
  background-color: #5a5a5a;
}

.light-theme {
  background-color: #a6a6a6;
}

.dark-theme {
  background-color: #4d4d4d;
}

.light-theme {
  background-color: #b3b3b3;
}

.dark-theme {
  background-color: #404040;
}

.light-theme {
  background-color: silver;
}

.dark-theme {
  background-color: #333333;
}

.light-theme {
  background-color: #cccccc;
}

.dark-theme {
  background-color: #262626;
}

.light-theme {
  background-color: #d9d9d9;
}

.dark-theme {
  background-color: #1a1a1a;
}

.light-theme {
  background-color: #e6e6e6;
}

.dark-theme {
  background-color: #0d0d0d;
}

.light-theme {
  background-color: #f2f2f2;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #1a1a1a;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #333333;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #4d4d4d;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #666666;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: gray;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #999999;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #b3b3b3;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #cccccc;
}

.dark-theme {
  background-color: black;
}

.light-theme {
  background-color: #e6e6e6;
}

.dark-theme {
  background-color: #e6e6e6;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #cccccc;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #b3b3b3;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #999999;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: gray;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #666666;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #4d4d4d;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #333333;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #1a1a1a;
}

.light-theme {
  background-color: white;
}

.style-class {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border: 1px solid #000;
}

.style-function {
  background-color: #d1d1fa;
}

.first-class .second-class {
  font-size: 14px;
}
.first-class .second-class:hover {
  font-size: 20px;
  color: #E6E619;
}

.display {
  padding: 0;
}

.display-1 {
  padding: 4rem;
}

.display-2 {
  padding: 8rem;
}

.display-3 {
  padding: 12rem;
}

.display-4 {
  padding: 16rem;
}

.p {
  font-size: 0;
}

.p-1 {
  font-size: 4rem;
}

.p-2 {
  font-size: 8rem;
}

.p-3 {
  font-size: 12rem;
}

.p-4 {
  font-size: 16rem;
}